.lowerBodyLeft {
  width: 55%;
  /* background-color: yellow; */
}
.lowerBodyLeft__details {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.lowerBodyLeft__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: whitesmoke;
  width: 49%;
  margin-top: 1.2rem;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
}
.lowerBodyLeft__subName {
  color: gray;
  font-size: 0.7rem;
}
@media (max-widthh: 700px) {
  .lowerBodyLeft {
    width: 100%;
  }
}
