.upperBodyLeft {
  background-color: brown;
  width: 100%;
}

.upperBodyLeft__top {
  display: flex;
}
.upperBodyLeft__overview {
  margin-top: 1rem;
}
.upperBodyLeft__bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  height: 395px;
  background-color: violet;
}
