.upperBodyLeft {
  background-color: brown;
}

.upperBodyLeft__icons {
  display: flex;
  margin-top: 0.5rem;
  flex-direction: row;
}
.upperBodyLeft__icon {
  background-color: white;
  margin-right: 1.5rem;
  padding: 10px;
  color: purple;
  border-radius: 5px;
}
.upperBodyLeft__overview {
  margin-top: 1rem;
}
.upperBodyLeft__bottom {
  display: flex;
  justify-content: space-between;
}
