.navigation {
  background-color: white;
  width: 18%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 3.6rem 1.5rem;
  box-sizing: border-box;
  justify-content: space-between;
}
