.bottomLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bottomLeft__img {
  height: 254px;
  object-fit: cover;
  width: 100%;
}
.bottomLeft__wallet {
  flex: 1;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.bottomLeft__walletInfo {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5rem 0.9rem;
  border-radius: 5px;
}
.bottomLeft__walletName {
  font-size: 0.7rem;
  margin-bottom: 0.3rem;
}
@media (max-width: 700px) {
  .bottomLeft__wallet {
    flex-wrap: wrap;
  }
  .bottomLeft__walletInfo {
    margin-bottom: 1rem;
    width: 100%;
  }
}
