.slidebar {
  width: 100%;
  margin-top: 6rem;
}

.slidebar__info {
  width: 100%;
  display: flex;
  margin-bottom: 2rem;
}
.slidebar__info:hover {
  color: purple;
}
.slidebar__name {
  margin-left: 1rem;
}
