.device {
  margin-top: 3rem;
}
.devices {
  margin-top: 1rem;
}

.device__info {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.device__type {
  padding: 1rem;
  background-color: rgb(218, 216, 216);
  color: purple;
  border-radius: 5px;
}
.device__active {
  display: flex;
  align-items: flex-start;
}
.device__names {
  display: flex;
  margin-left: 1rem;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
